.git
.gitignore
build
cmake-build-*
Testing
.idea
.vscode
.cache
.tooling
submissions
testcases
tmp
*.log
.env
http_server
judge_server
vcpkg/buildtrees
vcpkg/downloads
vcpkg/installed
vcpkg/packages
vcpkg_installed
