HTTP_PORT=8080

DB_USER=online_judge
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432
DB_NAME=online_judge

DB_ADMIN_USER=postgres
DB_ADMIN_PASSWORD=postgres

WORKER_ID=judge-1
MAX_CONCURRENT_JOBS=2

JUDGE_SOURCE_ROOT=/tmp/online_judge/submissions
JUDGE_CPP_COMPILER_PATH=/usr/bin/g++
JUDGE_PYTHON_PATH=/usr/bin/python3
JUDGE_JAVA_RUNTIME_PATH=/usr/bin/java
JUDGE_INPUT_PATH=/data/input.txt
JUDGE_ANSWER_PATH=/data/answer.txt
